@-webkit-keyframes spin{

    100%{
        transform: rotate(360deg);

    }
}


@keyframes spin{

    100%{
    transform: rotate(360deg);
    }
}


html {
    background-color: #ba2d23
}

body { 
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}

header {

    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;


}


h1{
    text-align: center;
    margin: 0;
}

h2{
    text-align: center;
    margin: 0;
} 


.site-nav{
    text-align:center;
}

.site-nav  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

}
.site-nav  li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-size: larger;

}
.site-nav  a {
    display: block;
    text-decoration: none;
    padding: 3px;

}

.site-nav a:hover{
    color: #ba2d23
    ;
}

.fix {
    clear: both;
}

header p {
    text-align: center;
    margin: 0;
}

h3{
    background-color: #ba2d23;
    text-align: center;
    text-shadow:1px 1px 1px black ;
    color: white;
    padding: 5px;
    margin-left: 43%;
    margin-bottom: 0%;
    border-radius: 10px;
    width: 150px;
    box-shadow: inset 10px 5px 5px #971b12;

}
.thumbnail{
    padding-left: 7.5%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.thumbnail img{
    width: 250px;
    height: 250px;
    transition: all .2s;

}

.thumbnail:hover img{
    opacity: .7;
    transform: scale(.92);

}

.thumbnail img:hover{
    transform: scale(1) rotate(2deg);
    opacity: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}

.videos{
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 20px;
}

.video:hover{
    transform: scale(1) rotate(2deg);
    opacity: 1;
    box-shadow: 0 0 7px rgba(0, 0, 0, .5);
}
/*
.row-1, .row-2, .row-3, .row-4{
    display: flex;
    margin-left: 10%;

}
.c-1, .c-2, .c-3,
.c-4, .c-5, .c-6,
.c-7, .c-8
{
    flex: 1;
    width: 60%;
    padding-top: 5px;
    border-radius: 30px;
    transform: scale(1);
    transition-duration: 1s;
}

.c-1 img, .c-2 img, .c-3 img,
.c-4 img, .c-5 img, .c-6 img,
.c-7 img, .c-8 img {
    width: 60%;
    padding-top: 5px;
    border-radius: 30px;
    transform: scale(1);
    transition-duration: 1s;

}

.c-3 img, .c-4 img, .c-7 img{
    width: 80%;
    margin-left: -5%;
    border-radius: 30px;
    transform: scale(1);
    transition-duration: 1s;
}


.c-1:hover, .c-2:hover, .c-3:hover,
.c-4:hover, .c-5:hover, .c-6:hover,
.c-7:hover, .c-8:hover {
    transform: scale(1.3);
    transition-duration: 1s;

}


form textarea{
    margin-bottom: -6.3px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 20px;
}
*/

.bone img{

    -webkit-animation: spin 4s infinite  ease-in-out;
	animation: spin 4s infinite  forwards;
    width: 100px;
    margin-left: 46%;

}

footer p {
    text-align: center;
    margin: 0;
    font-size: 80%;
 }