@-webkit-keyframes spin{

    100%{
        transform: rotate(360deg);

    }
}


@keyframes spin{

100%{
    transform: rotate(360deg);
}
}


html {
    background-color: #ba2d23
}

body { 
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;

}

header {

    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;


}


h1{
    text-align: center;
    margin: 0;
}

h2{
    text-align: center;
    margin: 0;
}

h3{
    background-color: #ba2d23;
    width: 375px;
    text-align: center;
    text-shadow:1px 1px 1px black ;
    color: white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: inset 10px 5px 5px #971b12;

}

.site-nav{
    text-align:center;
}

.site-nav  ul {
    display: inline-block;
    margin: 0;
    padding: 0;

}
.site-nav  li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-size: larger;

}


.site-nav  a {
    display: block;
    text-decoration: none;
    padding: 3px;

}

.site-nav a:hover{
    color: #ba2d23
    ;
}

.fix {
    clear: both;
}


header p {
    text-align: center;
    margin: 0;
}

* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

img {
    width: 375px;
    height: 375px;
    padding-top: 5px;
    border: 1px solid black;
    border-radius: 10px;

}   

    
.price h3{
    width: 100px;
    padding: 5px;
    margin-left: 30%;
    margin-top:0%;
    box-shadow: inset 10px 5px 5px #971b12;
}
form{
    background-color:#4e4c4c69;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    width: 375px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: inset 5px 5px 5px #31303069;


}

input,
select{
    margin-left: 10px;
}


input[type="number"]{
    width:80px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;

}

select{
    padding: 5px;
    border-radius: 10px;
    width: 90px;


  
}

input[type="submit"]{
    padding: 5px;
    border: 1px solid black;
    background-image:linear-gradient(to top, #4e4c4c69, #fff);
    border-radius: 10px;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="number"]:hover,
input[type="number"]:focus{
    box-shadow: inset 2px 2px 2px rgba(0,0,0,.13);
}


.bone img{
    -webkit-animation: spin 4s infinite  ease-in-out;
	animation: spin 4s infinite  ease-in-out;
    border: none;
    width: 100px;
    height: auto;
    margin-left: 46%;

}

footer p {
    text-align: center;
    margin: 0;
    font-size: 80%;
 }